{{>layout/header}}

<h1> hello~! </h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/customer/save" role="button" class="btn btn-primary">고객 등록</a>
        </div>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>고객번호</th>
                <th>고객명</th>
                <th>생년월일</th>
                <th>고객등록일</th>
                <th>고객유형</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#custs}}
                <tr>
                    <td>{{custNum}}</td>
                    <td>{{custNm}}</td>
                    <td>{{birthDt}}</td>
                    <td>{{custRgstDt}}</td>
                    <td>{{custTypCd}}</td>
                </tr>
            {{/custs}}
            </tbody>
        </table>
    </div>
</div>

{{>layout/footer}}